<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue JS Tutorial</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>{{ greet("Morning") }}</h1>
      <p>Hey, {{ name }}</p>
      <p>Job: {{ job }}</p>

      <hr>

      <h1>Data Binding</h1>
      <a v-bind:href="website">Google</a>
      <input type="text" v-bind:value="name">
      <p v-html="websiteTag"></p>

      <hr>

      <h1>Events</h1>
      <p>My age is: {{ age }}</p>
      <button v-on:click.once="age++">Add a Year</button>
      <button v-on:click="substract(1)">Substract a Year</button>
      <button v-on:dblclick="add(10)">Add 10 Years dblc</button>
      <button v-on:dblclick="substract(10)">Substract 10 Years dblc</button>
      <div id="canvas" v-on:mousemove="updateXY"> {{x}}, {{y}}</div>

      <hr>

      <h1>Keybaord Events</h1>
      <p>Log's when hitting enter through Key Modifiers</p>
      <label >Name: </label>
      <input type="text" v-on:keyup.enter="logName()">
      <label >Age: </label>
      <input type="text" v-on:keyup.enter="logAge()">

      <hr>

      <h1>Tow Way Data Binding</h1>
      <label >Name: </label>
      <input type="text" v-model="name">
      <span>{{ name }}</span>
      <label >Age: </label>
      <input type="text" v-model="age">
      <span>{{ age }}</span>

      <hr>

      <h1>Computed Properties</h1>
      <button v-on:click="a++">Add to A</button>
      <button v-on:click="b++">Add to B</button>
      <p>A - {{ a }}</p>
      <p>B - {{ b }}</p>
      <p>Age + A = {{ addToA }}</p>
      <p>Age + B = {{ addToB }}</p>

      <hr>

      <h1>Dynamic CSS</h1>
      <h2>Example 1</h2>
      Click at Rick to change its CSS class
      <div v-on:click="available = !available" v-bind:class="{available: available}">
        <span>Rick</span>
      </div>
      <h2>Example 2</h2>
      <button v-on:click="available = !available">Toggle available</button>
      <div v-bind:class="compClasses">
        <span>Rick</span>
      </div>

      <hr>

      <h1>Conditionals</h1>
      <button v-on:click="error = !error">Toggle Error</button>
      <button v-on:click="sucess = !sucess">Toggle Sucess</button>
      <p v-if="error">There has been some error</p>
      <p v-else-if="sucess">Sucess</p>

      <hr>

      <h1>Looping with v-for through lists</h1>
      <ul>
        <li v-for="character in characters">{{character}}</li>
      </ul>

      <ul>
        <li v-for="ninja in ninjas">{{ninja.name}} - {{ninja.age}}</li>
      </ul>

      <template v-for="ninja in ninjas">
        <h3>{{ninja.name}}</h3>
        <p>{{ninja.age}}</p>
      </template>

      <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
            <p>{{key}} - {{val}}</p>
        </div>
      </template>



    </div>

    <script src="app.js"></script>
  </body>
</html>
